{# templates/accueil/accueil.html.twig #}

{# Extends #}
{% extends "base.html.twig" %}

{% block title %}
    Accueil Recycling Carbon
{% endblock %}


{% block body %}

    {{ userInformations }}

{% endblock %}
